<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>sombrero</string>
    <string>westerlund</string>
    <string>pillars_of_creation</string>
    <string>ngc6302</string>
    <string>ngc3603</string>
    <string>ngc1275</string>
    <string>n90</string>
    <string>M1</string>
    <string>horse_head_nebula</string>
    <string>deep</string>
    <string>aro273</string>
    <string>antennae_galaxies</string>
</array>
</plist>
